{
    "processors": [
        "stylelint-processor-styled-components",
        "./prefix-sc-mixin.js"
    ],
    "extends": [
        "stylelint-prettier/recommended",
        "@gracious/stylelint-config-gracious",
        "stylelint-config-styled-components"
    ],
    "rules": {
        "max-nesting-depth": 5,
        "string-quotes": "double",
        "property-no-vendor-prefix": [
            true,
            {
                "ignoreProperties": ["box-orient", "line-clamp"]
            }
        ],
        "value-no-vendor-prefix": [
            true,
            {
                "ignoreValues": ["box"]
            }
        ]
    }
}
